[run]
branch = True
source = webpreview

omit =
    # Omit test files
    webpreview/tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

fail_under = 80